---
import Pen from '../components/Pen.astro';
let title = 'My Astro Site';

let codePenPrefs = {
    user: "sarah11918",
    slug: "rNwNEBL",
    // slug: "VwKKvMa",
    //height: "400",
    // tabs: "html,result",
    // clickToLoad: "true",
    // editable: "true",

};
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
</head>
<body>

    <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
      
    <Pen client:load user={codePenPrefs.user} slug={codePenPrefs.slug} height={codePenPrefs.height} tabs={codePenPrefs.tabs} clickToLoad={codePenPrefs.clickToLoad} editable={codePenPrefs.editable}/>
 
</body>
</html>
